extends layout

block head
  title #{t('title')} <#{env}>
  link(rel='stylesheet', href='/parts/cssmenu/styles.css')
  link(rel='stylesheet', href='/parts/csstabs/styles.css')
  link(rel='stylesheet', href='/parts/csstree/styles.css')

block header
  div.navbar
    p.navbar-text #{t("appname")}

block footer
  span.muted.credit #{t('title')} - v#{version}
  
block body
  div.page.container-liquid
    div.row
      div.col-sm-12
        cssmenu(items='items')
    div.content.row
      div.sidebar.col-sm-3
        csstree
      div.workspace.col-sm-9
        csstabs
  
block scripts
  script(src="/vendor/requirejs/require.js", data-main="js/main.js")
