extends layout

block head
  title #{t('title')} <#{env}>

block header
  div.navbar-inner
    div.container
      a.brand(ref="#") #{t('appname')}
      div.nav-collapse.collapse
        ul.nav.pull-right
          li.about-menu
            a(href="#",ng-click="openAboutDialog()") #{t('about')}

block footer
  span.muted.credit #{t('appname')} - v#{version}
  
block body
  TBD
  
block scripts
  script(type='text/javascript', src='/vendor/angularjs/1.2.0-rc3/js/angular.js')
  script(type='text/javascript', src='/js/app.js')
  script(type='text/javascript', src='/js/controllers.js')
  script(type='text/javascript', src='/js/directives.js')
  script(type='text/javascript', src='/js/filters.js')
  script(type='text/javascript', src='/js/services.js')
