extends layout

block head
  title #{t('title')} <#{env}>
  link(rel='stylesheet', href='/parts/cssmenu/styles.css')
  link(rel='stylesheet', href='/parts/csstabs/styles.css')
  link(rel='stylesheet', href='/parts/csstree/styles.css')

block header
  div.navbar
    p.navbar-text #{t("appname")}

block footer
  span.muted.credit #{t('title')} - v#{version}
  
block body
  div.page.container-liquid
    div.row
      div.col-sm-12
        cssmenu(items='items')
    div.content.row
      div.sidebar.col-sm-3
        csstree
      div.workspace.col-sm-9
        csstabs
  
block scripts
  script(type='text/javascript', src='/vendor/angular/angular.js')
  script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap.js')
  script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
  script(type='text/javascript', src='/parts/cssmenu.js')
  script(type='text/javascript', src='/parts/csstabs.js')
  script(type='text/javascript', src='/parts/csstree.js')
  script(type='text/javascript', src='/js/app.js')
  script(type='text/javascript', src='/js/core/directives.js')
  script(type='text/javascript', src='/js/core/events.js')
  script(type='text/javascript', src='/js/core/filters.js')
  script(type='text/javascript', src='/js/controllers/controllers.js')
  script(type='text/javascript', src='/js/services/services.js')
